body{
  background-image: url(image17.jpg);
}

.lab1{
font-size: 15px;
color: rgb(3, 3, 3);
}

.div1{
  text-align: center;
  margin-top: 5%;
  background-color: rgb(248, 237, 201);
  margin: 25% 10% 10% 10%;
  padding: 5% 5% 5% 5%;
  border-radius: 20px;
}
.div2{
  padding: 3% 3% 3% 3%;
}
.inp1{
  border-radius: 5px;
  border: none;
}

.btn1{
  border: none;
color: rgb(252, 249, 249);
font-size: 15px;
background-color: rgb(140, 177, 245);
padding: 2%;
border-radius: 5px;
}
.div4{
  background-color: rgb(245, 234, 191);
  margin: 25% 10% 10% 10%;
  padding: 3% 3% 3% 3%;
  border-radius: 20px;
}